# DATA CLEANING

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("all_university_reviews.csv")

In [3]:
df.head()

,University,Rating,Username,Review,Date
0,University L1000000 S1008528 University_Of_Abe...,3.8,member10119396,Aberdeen is one of the best universities in th...,13th October 24
1,University L1000000 S1008528 University_Of_Abe...,4.2,member6119373,"I like the University or Aberdeen, it's a nice...",13th October 24
2,University L1000000 S1008528 University_Of_Abe...,3.6,member7119310,It’s perfect one year experience but might be ...,13th October 24
3,University L1000000 S1008528 University_Of_Abe...,5.0,member8119100,amazing place love everything here,11th October 24
4,University L1000000 S1008528 University_Of_Abe...,5.0,member7119099,The apartment is better than expected! The loc...,11th October 24

In [4]:
df.columns

Index(['University', 'Rating', 'Username', 'Review', 'Date'], dtype='object')

In [5]:
df[['Discard1', 'Discard2', 'Discard3', 'University_Name', 'City']] = df['University'].str.split(' ', n=4, expand=True)
df['University_Name'] = df['University_Name'].str.replace('_', ' ')
df = df.drop(columns=['Discard1', 'Discard2', 'Discard3', 'University'])
df = df.rename(columns={'University_Name': 'University'})
df['Username'] = df['Username'].str.replace('member', '', regex=False)
df['Date'] = df['Date'].str.replace(r'(\d+)(st|nd|rd|th)', r'\1', regex=True)
df['Date'] = pd.to_datetime(df['Date'], format='%d %B %y')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38762 entries, 0 to 38761
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Rating      38762 non-null  float64
 1   Username    38762 non-null  object
 2   Review      38762 non-null  object
 3   Date        38762 non-null  datetime64[ns]
 4   University  38762 non-null  object
 5   City        38762 non-null  object
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 1.8+ MB

In [7]:
df['Rating'].value_counts()

Rating
5.0    12530
4.0     3242
4.6     3130
4.4     3128
4.2     3067
4.8     2715
3.8     2150
3.6     1631
3.4     1441
3.2     1006
3.0     1003
1.0      709
2.8      582
2.6      461
2.4      347
2.2      333
2.0      291
1.8      261
1.6      191
1.4      179
1.2      122
4.7       62
4.3       41
3.7       32
4.5       30
3.5       25
3.3       20
2.7       11
2.5        9
1.5        5
2.3        4
1.3        2
1.7        2
Name: count, dtype: int64

In [10]:
df

,Rating,Username,Review,Date,University,City
0,3.8,10119396,Aberdeen is one of the best universities in th...,2024-10-13,University Of Aberdeen,Aberdeen
1,4.2,6119373,"I like the University or Aberdeen, it's a nice...",2024-10-13,University Of Aberdeen,Aberdeen
2,3.6,7119310,It’s perfect one year experience but might be ...,2024-10-13,University Of Aberdeen,Aberdeen
3,5.0,8119100,amazing place love everything here,2024-10-11,University Of Aberdeen,Aberdeen
4,5.0,7119099,The apartment is better than expected! The loc...,2024-10-11,University Of Aberdeen,Aberdeen
...,...,...,...,...,...,...
38757,3.5,108705,Not the best university... But probably not th...,2015-04-30,York St John University,York
38758,3.5,68597,"An amazing, welcoming and friendly university!...",2015-04-30,York St John University,York
38759,4.0,128579,su is too small and the gym is rubbish,2015-04-30,York St John University,York
38760,4.2,128564,Very healthy student spirit as it's a small un...,2015-04-30,York St John University,York
38761,3.5,65580,"Good facilities, and wifi around campus.\nMost...",2015-03-27,York St John University,York

In [9]:
df.to_csv("sample1.csv")