# DATA CLEANING

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("whatuni_reviews.csv")

In [3]:
df

,University,Course Name,University Rating,Review,Date
0,University of Aberdeen,Psychology MA (Hons),4.0,The university campus does offer a vast range ...,16 October 2024
1,The University of Edinburgh,Archaeology and Social Anthropology MA (Hons),4.0,Amazing funding and facilities for my course b...,15 October 2024
2,Birmingham Newman University,Primary Education (3-11) with QTS BA (Hons),5.0,Newman has phenomenal lecturers who have at le...,10 October 2024
3,University of Exeter,MSc Advanced Clinical Practice,5.0,"Nice location and environment, with supportive...",10 October 2024
4,University of Exeter,Computer Science and Mathematics BSc (Hons),5.0,There's so many activities and oppurtunities a...,10 October 2024
...,...,...,...,...,...
181976,"Queen Margaret University, Edinburgh",NaN,2.0,"Someone, somewhere, someday said ""Here's a fie...",08 September 2013
181977,University of Winchester,NaN,4.0,"My Course (Politics) was fantastic, I had such...",28 May 2013
181978,Norwich University of the Arts,Games Art and Design BA (Hons),5.0,Great!,01 March 2011
181979,University of Warwick,NaN,5.0,Warwick allowed a great balance between qualit...,20 March 2007
181980,NaN,NaN,NaN,NaN,NaN

In [4]:
df = df.dropna(how="all")
df = df.reset_index(drop="True")

In [5]:
df.isnull().sum()

University               0
Course Name          44885
University Rating        0
Review               15422
Date                     0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165437 entries, 0 to 165436
Data columns (total 5 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   University         165437 non-null  object
 1   Course Name        120552 non-null  object
 2   University Rating  165437 non-null  float64
 3   Review             150015 non-null  object
 4   Date               165437 non-null  object
dtypes: float64(1), object(4)
memory usage: 6.3+ MB

In [7]:
df = df.rename(columns={'University Rating' : 'Rating'})
df['Review'] = df['Review'].fillna('undefined')
df['Course Name'] = df['Course Name'].fillna('undefined')
df['Date'] = pd.to_datetime(df['Date'], format='%d %B %Y')

In [27]:
df.to_csv("sample2.csv")